// Thin
@font-face {
    font-family: 'Roboto';
    font-weight: 100;
    src: local('Roboto-Thin'),
        url('../fonts/roboto-thin-webfont.woff2') format('woff2'),
        url('../fonts/roboto-thin-webfont.woff') format('woff');
}

// Thin Italic
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    src: local('Roboto-ThinItalic'),
        url('../fonts/roboto-thinitalic-webfont.woff2') format('woff2'),
        url('../fonts/roboto-thinitalic-webfont.woff') format('woff');
}

// light
@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    src: local('Roboto-Light'),
        url('../fonts/roboto-light-webfont.woff2') format('woff2'),
        url('../fonts/roboto-light-webfont.woff') format('woff');
}

// light Italic
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: local('Roboto-LightItalic'),
        url('../fonts/roboto-lightitalic-webfont.woff2') format('woff2'),
        url('../fonts/roboto-lightitalic-webfont.woff') format('woff');
}

// Regular
@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: local('Roboto-Regualar'),
        url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
        url('../fonts/roboto-regular-webfont.woff') format('woff');
}

// Regular Italic
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto-Italic'),
        url('../fonts/roboto-italic-webfont.woff2') format('woff2'),
        url('../fonts/roboto-italic-webfont.woff') format('woff');
}

// Bold
@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: local('Roboto-Bold'),
        url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
        url('../fonts/roboto-bold-webfont.woff') format('woff');
}

// Bold Italic
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: local('Roboto-BoldItalic'),
        url('../fonts/roboto-bolditalic-webfont.woff2') format('woff2'),
        url('../fonts/roboto-bolditalic-webfont.woff') format('woff');
}

// Black
@font-face {
    font-family: 'Roboto';
    font-weight: 900;
    src: local('Roboto-Black'),
        url('../fonts/roboto-black-webfont.woff2') format('woff2'),
        url('../fonts/roboto-black-webfont.woff') format('woff');
}

// Black Italic
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    src: local('Roboto-BlackItalic'),
        url('../fonts/roboto-blackitalic-webfont.woff2') format('woff2'),
        url('../fonts/roboto-blackitalic-webfont.woff') format('woff');
}


:root {
    --font-family: 'Roboto', sans-serif;
}
